body{
    margin: 0;
    padding: 0;
}
.navigation-bar1{
    height: 105px;
    width: 100%;
    background-color: beige;
    justify-content: center;
    align-items: center;
}
#navigation-container{
    float: left;
    display: flex;
    widows: 1200px;    
    width: 100%;           
}

.navigation-bar1 img{
    margin: 10px 20% 10px 15%;
    float: center;
}


.nav-top ul{
    
        margin: 25px;
        display: flex;
        float : right;  
        list-style: none;
        padding: 0;     
        flex-direction: row;
        justify-content : space-between;
    
}
/* .nav-top ul::before, .nav-top ul::after{ content:"";display:table;}
.nav-top ul::after{ clear: both;}
.nav-top ul{*zoom: 1;;} */
.nav-top ul li{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 10px;
    size: 10px black;
}
.nav-top li>a{
    color: black;
    font-weight: bold;
    font-family: open sans bold;
    text-decoration: none;
    opacity: 0.9;
    font-size: 16px;
}
.nav-top li.current-menu-item a {
    background:  #ef4625;
    border-radius: 5px;
    text-decoration: none;
    opacity: initial;
    font-family: open sans bold;
    color: wheat; 
    padding: 9px; 
    background-size: 100px 100px;
    font-size: 16px;
        
	}